{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "Your account has been created, however it still <b>needs to be verified!</b> Please log in into <b><u>osu! (the game)</u></b> using your account. <b>There is <u>no email confirmation</u> at the moment. All you need to do is connect to Osu!Italia from the osu! client!</b> If you're having trouble, <a href='/doc/1'>follow this guide</a>." | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'>Do not let anyone except yourself log into your Osu!Italia account!</b><br> Get on our <a href='%s'>Discord server's</a> #help channel instead (after following the steps on this page) so that we can help you out if you have trouble connecting." (config "DiscordServer") | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "<a href='/doc/1'>The Guide,</a> tl;dr version" | html }}</h1>
		<ol class="ui list">
			<li>{{ .T "Create a shortcut of osu! on your desktop" }}</li>
			<li>{{ .T "Right-click and click <b>Properties</b>" | html }}</li>
			<li>{{ .T "On the <b>Target</b> box, put the osu path next to it <b>-devserver osuitalia.xyz</b>" | html }}</li>
			<li>{{ .T "Start the new osu! shortcut and log in with the credentials put on the site" | html }}</li>
			<li>{{ .T "Enjoy!" | html }}</li>
		</ol>
		<p>
			{{ .T "If you're still having trouble, then again, get on our <a href='https://discord.gg/ubDPgGBVJy'>Discord server's</a> <b>#help</b> channel." | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Waiting for verification" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
