{{/*###
Handler=/
TitleBar=Home
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
	<div class="ui container">
		<div class="ui center aligned segment">
			<img id="san" src="/static/logos/logo.png">
		</div>
		{{ $set := systemSettings "website_home_alert" }}
		{{ with $set.website_home_alert.String }}
			<div class="ui warning message">
				{{ . | html }}
			</div>
		{{ end }}
	
		{{/* Info block */}}

		<div class="ui raised segment">
			<h1 class="ui header center aligned">{{ .T "Welcome to osu!indonesia." }}</h1>
			<h3>
				{{ .T "osu!indonesia is an invite-only osu! server for Indonesians!" | html }}
			</h3>
			<h3 class="ui header center aligned">{{ .T "What are you waiting for? Join osu!indonesia! It's risk-free: you won't get your account banned on the official server if you play on osu!indonesia.<br>You can also switch anytime between the official osu! server and osu!indonesia!" | html }}</h3>
		</div>

		{{/* Global Statistics */}}

		<div class="ui stackable four grid">
			<div class="eight wide column">
				<div class="ui blue segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="thumbs up blue icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
							<p class="status-head">{{ $d.pp }}pp</p>
							<p class="status-head">Done by <a href="/u/{{ $d.id }}">{{ $d.username }}</a></p>
							<p class="status-footer">Top Vanilla Score</p>
						</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui orange segment">
					<div class="ui grid">
						<div class="four wide column">
							<i class="thumbs up orange icon status-icon"></i>
						</div>
						<div class="twelve wide column">
							{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores_relax INNER JOIN users ON scores_relax.userid = users.id WHERE scores_relax.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
							<p class="status-head">{{ $d.pp }}pp</p>
							<p class="status-head">Done by <a href="/rx/u/{{ $d.id }}">{{ $d.username }}</a></p>
							<p class="status-footer">Top Relax Score</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
{{ end }} 