{{/*###
Handler=/leaderboard
TitleBar=Leaderboard
KyutGrill=leaderboard2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	{{ $user := . }}
	{{ $favModeRaw := .Get "users/self/favourite_mode" }}
	{{ $favMode := _or (atoi (.Gin.Query "mode")) $favModeRaw.favourite_mode (float 0) }}
	<script>
		var favouriteMode = {{ $favMode }};
		var rx = {{ .Gin.Query "rx" }};
		var page = {{ .Gin.Query "p" | atoint | atLeastOne }};
		var country = {{ .Gin.Query "country" }}.toLowerCase();
		if (country.length != 2)
			country = "";
	</script>
	<div class="ui two item menu" id="rx-menu">
			<a class="0 item rx-button" data-rx="0" href="/leaderboard?rx=0">Vanilla</a>
			<a class="1 item rx-button" data-rx="1" href="/leaderboard?rx=1">Relax</a>
	</div>

	<div class="ui four item menu" id="mode-menu">
		{{ range $k, $v := modes }}
			<a class="{{ favMode $favMode $k }}item" data-mode="{{ $k }}" href="/leaderboard?mode={{ $k }}">{{ $v }}</a>
		{{ end }}
	</div>
	<div class="ui twelve item stackable menu">
		{{ range countryList 11 }}
			<a class="item lb-country" data-country="{{ . }}">{{ country . false 50 33 }}</a>
		{{ end }}
		<a class="item" id="country-chooser-modal">...</a>
	</div>
	<table class="ui fixed table">
		<thead>
			<tr>
				<th class="two wide"> {{ .T "Rank" }} </th>
				<th class="four wide">{{ .T "Player" }} </th>
				<th class="four wide">{{ .T "PP/Score" }} </th>
				<th class="three wide">{{ .T "Accuracy" }} </th>
				<th class="three wide">{{ .T "Playcount" }} </th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			{{/* easy access */}}
			{{ $page := .Gin.Query "p" | atoint | atLeastOne }}
			<div class="simplepag">
				<div class="ui container">
					<div class="ui floated pagination menu center">
						<a class="purple icon item" href="/leaderboard?mode={{ $favMode }}&rx=0&p={{ sub $page 1 }}">
							<i class="fa fa-chevron-double-left" style="color: grey;"></i>
						</a>
					</div>
					<div class="ui floated pagination menu center">
						<a class="purple icon item">
							{{ $page }}
						</a>
					</div>
					<div class="ui floated pagination menu center">
						<a class="purple icon item" href="/leaderboard?mode={{ $favMode }}&rx=0&p={{ add $page 1 }}">
							<i class="fa fa-chevron-double-right" style="color: grey;"></i>
						</a>
					</div>
				</div>
			</div>
		</tfoot>
	</table>
	<div class="ui modal">
		<div class="content">
			<div class="ui four column grid">
				{{ range countryList 500 }}
					{{ $short := . }}
					{{ with country . true 20 13 }}
						<div class="ui clickable column lb-country" data-country="{{ $short }}">{{ . }}</div>
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>
{{ end }}
